:root {
	--font-principal: #daa520;
	--font-escura: #ae841a;
}
body {
	font-family: 'Cinzel', serif;
	background: linear-gradient(#F2F2F2, #424242);
}
header {
	display: flex;
	justify-content: space-around;
	padding: 1.5vw;
	background: #424242;
	width: 100vw;
	height: 15vh;
}
.fot {
	transition: .3s;
}
.fot:hover {
	transform: scale(1.3);
}
nav {
	display:flex ;
	align-items: center;
}
nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
nav li {
	margin-right: 3vw;
}
nav a {
	display: inline-block;
    text-transform: uppercase;
    color: var(--font-principal);
    font-weight: bold;
    font-size: 1.5vw;
    text-decoration: none;
    transition: .5s;
}
nav a:hover {
    color: var(--font-escura);
    text-decoration: underline;
    transform: scale(1.1);
}
.Explicação {
	margin: 0 auto;
	padding: 1vw;
	margin-top: 1vh;
	
}
.Explicação img {
	width: 8vh;
	float: left;
	margin: 1vw 1vw 1vw 0;
}
section p {
    font-size: 1.5rem;
    color: #AB7B00;
   	text-shadow: 1px 1px 1px black;
}
.mapa {
	margin: 0 auto;
}
h2 {
	color: #AB7B00;
    font-size: 4rem;
    text-align: center;
    margin: 0 auto;
	padding: 2vw;
	text-shadow: 3px 3px 2px black;
}
.Listagem {
	padding: 1vw;
}
#foto2 {
	display: inline-block;
	width: 50%;
	transition: 500ms;
	box-shadow: 20px 20px 5px  black;
	margin-bottom: 3vh;
}
#foto2:hover {
	opacity: 0.7;
}
.itens {
	padding: .4vw;
	margin: 15;
	color: #AB7B00;
	font-size: 44px;
	text-shadow: 1px 1px 1px black;
}
.itens:before {
	content:"\1F457";
}
iframe {
	display:block;
	width: 50vw;
	height: 40vh;
	margin: 3em auto;
}
footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1.5vw;
	background: #424242;
	bottom: 0;
	width: 100vw;
	height: 15vh;
}
#img_rdp {
	width: 15vw;
	height: 10vw;
	transition: .3s;
}
#copyright {
	color: var(--font-principal);
	font-size: 1rem;
	margin-top: 1.5vh;
}





