:root {
	--font-principal: #daa520;
	--font-escura: #ae841a;
}
body {
	font-family: 'Cinzel', serif;
	background: linear-gradient(#F2F2F2, #424242);
} 
.Explicação {
	margin: 0 auto;
	padding: 1vw;
	margin-top: 1vh;
	
}
.Explicação img {
	width: 8vh;
	float: left;
	margin: 1vw 1vw 1vw 0;
}
section p {
    font-size: 1.5rem;
    color: #AB7B00;
   	text-shadow: 1px 1px 1px black;
}
.mapa {
	margin: 0 auto;
}
h2 {
	color: #AB7B00;
    font-size: 4rem;
    text-align: center;
    margin: 0 auto;
	padding: 2vw;
	text-shadow: 3px 3px 2px black;
}
.Listagem {
	padding: 1vw;
}
#foto2 {
	display: inline-block;
	width: 50%;
	transition: 500ms;
	box-shadow: 20px 20px 5px  black;
	margin-bottom: 3vh;
}
#foto2:hover {
	opacity: 0.7;
}
.itens {
	padding: .4vw;
	margin: 15;
	color: #AB7B00;
	font-size: 44px;
	text-shadow: 1px 1px 1px black;
}
.itens:before {
	content:"\1F457";
}
iframe {
	display:block;
	width: 50vw;
	height: 40vh;
	margin: 3em auto;
}