:root {
	--font-principal: #daa520;
	--font-escura: #ae841a;
}
body {
	font-family: 'Cinzel', serif;
}
header {
	display: flex;
	justify-content: space-around;
	padding: 1.5vw;
	background: #424242;
	width: 100vw;
	height: 15vh;
}
.fot {
	transition: .3s;
}
.fot:hover {
	transform: scale(1.3);
}
nav {
	display:flex ;
	align-items: center;
}
nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
nav li {
	margin-right: 3vw;
}
nav a {
	display: inline-block;
    text-transform: uppercase;
    color: var(--font-principal);
    font-weight: bold;
    font-size: 1.5vw;
    text-decoration: none;
    transition: .5s;
}
nav a:hover {
    color: var(--font-escura);
    text-decoration: underline;
    transform: scale(1.1);
}
main {
	display: flex;
	justify-content: center;

}
.produtos {
	display: flex;
	justify-content: space-between;
	width: 80vw;
	padding: 5vh 0;
}
.produtos li {
	display: inline-block;
	text-align: center;
	width: 20vw;
	padding: 1vw;
	border: solid black .2vw;
	border-radius: 1vw;
	transition: .3s;
}
.produtos li:hover {
	border: solid var(--font-principal) .3vw;
	color: var(--font-principal);
	transform: scale(1.1);
}
.fotos {
	padding: 1vw 0;
	width: 18vw;
}
.produtos h2 {
	font-size: 2rem;
	font-weight: bold;
	transition: .3s;
}

.descrição {
	font-size: 1.5rem;
}
.preço {
	font-size: 1.7rem;
	font-weight: bold;
	margin-top: 10px;
}
footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1.5vw;
	background: #424242;
	position: fixed;
	bottom: 0;
	width: 100vw;
	height: 15vh;
}
#img_rdp {
	width: 15vw;
	height: 10vw;
	transition: .3s;
}
#copyright {
	color: var(--font-principal);
	font-size: 1rem;
	margin-top: 1.5vh;
}
/* @media screen and (max-width: 480px) {
	.cabeça {
	width: auto;
	}
	h1 {
		display: block;
		width: 30%;
		margin: 0 auto;
	}
	nav {
	position: relative;
	text-align: center;
	}
	nav a {
		font-size: 20px;
	}
	header ul {
    display: block;
    margin-top: 20;
    text-align: center;
	} */